.bbb-container {
    width: 620px;
    line-height: 40px;
    display: inline-block;
    margin: 4px;
    border: 1px solid #dddddd;
}

.bbb-container-top{
    background-color: #d6d6d6
}

.bbb-container-center{
    background:#fff;
    padding:20px;
    width: 620px;
}

.bbb-container-botton{
    height: 40px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f5f5f5;
    border-top: 1px solid #d6d6d6;
}

.foto {
    width: 280px;
    height: 290px;
    line-height: 290px;
    display: inline-block;
    margin: 4px;
    border: 1px solid #dddddd;
}

.foto-esquerda {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -10px -150px;
}

.foto-direita {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -340px -150px;
}

.container {
    border-radius: 4px;
    border: 1px solid #dddddd;
}

.foto.selecionada {
    border: 5px solid #ff9a00;
}

.centralizado {
    margin-left:auto;
    margin-right:auto;
}

#timer{
    border-radius: 4px;
    border: 1px solid #ff9a00;
}

.com-borda{
    margin: 15px 0;
    padding: 39px 19px 14px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.caixa-resumo{
    width: 480px;
}

.titulo-caixa{
    text-align: center;
}

.foto-menor {
    width: 200px;
    height: 210px;
    line-height: 290px;
    display: inline-block;
    margin: 4px;
    border: 1px solid #dddddd;
}

.foto-esquerda-menor {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -40px -180px;
}

.foto-direita-menor {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -380px -180px;
}